.idea/
__pycache__
*wcount
*.table0
*.table1
*.pyc
*.pkl
*.th
*.swp
*.png
*.dat
*.onnx
*.mat
*.csv
*.state
*.zip
*.gz
*.nfs
*.vvtk
x*
err*
log*
list*
tmp*
emb*
flac
vad
wav
versions
orig
txt/*
txt1
txt2
database
dataset
data
lexicon/
lst
fea
.condor/
other
